ErrorDocument 404 https://pantbros.github.io/tech/not-found.html/
ErrorDocument 500 https://pantbros.github.io/tech/500
# or map them to one error document:
# ErrorDocument 404 not-found.html

RewriteEngine On
RewriteBase /
