:root{
    --white:#fff;
    --black:#000;
    --overlay:#000000d8;
    --alter-one-bg:#212529;
    --alter-two-bg:#343a40;
    --theme-font-color:#20c997;
    --title-bottom-border:#20c997;
    --theme-color:#20c997;
    --muted-text:#6c757d;
    --alter-bg-text:#ffffff80;
}
p{
    color: var(--alter-bg-text);
}

.btn-primary{
    background-color: var(--theme-color)!important;
    border:1px solid var(--theme-color)!important;
    color: var(--white)!important;
}
.bg-primary{
    background: var(--theme-color)!important;
}
.text-muted{
    color: var(--muted-text)!important;
    opacity: .1;
}
.text-primary{
    color: var(--theme-color)!important;
}
.bannerContentWrapper {
    position: relative;
    height: 100vh;
    /* border: 1px solid red; */
    text-align: center;
    background: url('../img/intro-bg.jpg');
}

.bg-dark-1{
    background: var(--alter-one-bg);
}

.bg-dark-2{
    background-color: var(--alter-two-bg);
}
.bannerContentWrapper::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--overlay);
}
.bannerContentWrapper>*{
    position: relative;
    z-index: 1;
    color:var(--white);
}
.innerContent{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    line-height: 1rem;
    font-weight: 700;
}

.innerContent h2{
    font-size: 70px;
}

.Rewriter-cursor {
    display: inline-block;
    background: white;
    width: 3px;
    animation: blink 1s infinite;
    margin-left: 2px;
}

.cursor-stop{
    animation: none;
}

.title-cover{
    position: relative;
}
.title-cover h2{
    font-size: 8.2rem;
}
.title-cover h4{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.title-cover h4::after {
    content: '';
    position: absolute;
    bottom: -15px;
    border-bottom: 3px solid var(--title-bottom-border);
    left: 0;
    width: 50px;
    right: 0;
    margin: auto;
}
@keyframes blink {
    0%{
        opacity: 0%;
    }

    30%{
        opacity: 100%;
    }

    50%{
        opacity:100%;
    }

    100%{
        opacity: 0%;
    }
}

.introCard,.sideInfoCard {
    padding: 0px 15px;
}

.sideInfoCard .btn{
    font-size: 18px;
    font-weight: 500;
}

.sideInfoCard li {
    padding: 15px 0px;
}

.number-wrapper{
    margin: 50px 0px;
    padding:0px 15px;
    text-align: center;
    width: 100%;
}

.number-wrapper h2{
    color: var(--muted-text);
    font-size: 50px;
}
.number-title{
    text-transform: capitalize;
    font-size: 18px;
}

.border-right {
    border-right: 1px dotted lightgray;
}
.serviceIcon {
    padding: 30px;
    color: var(--theme-font-color);
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}
.serviceInfo{
    padding: 0px 15px;
}

.resume-card-info{
    border-radius: 5px;
    padding: 15px;
}
.resumeCard h4{
    color: var(--white);
}

.date-bar {
    background: var(--theme-color);
    width: max-content;
    padding: 0px 5px;
    border-radius: 5px;
}

.skillbar .btn{
    width: max-content;
    margin:1.4rem auto;
}
.scroller{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.scroller .circle{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.scroller .circle i{
    font-size:40px;
    font-weight: 700;
    animation: scroll-down 2s linear infinite;
}

@keyframes scroll-down {
    0%{
        transform:translateY(20px);
        text-shadow: 0px 20px 0px #fff;
    }

    20%{
        transform:translateY(0px);
        text-shadow: 0px 10px 0px #fff;
    }

    60%{
        transform:translateY(0px);
        text-shadow: 0px -10px 0px #fff;
    }

    100%{
        transform:translateY(30px);
        text-shadow: 0px 20px 0px #fff;
    }


}


.tab-content {
    /* display: none; */
    width: 500px;
  }

  .card {
    width: 400px;
    margin: auto;
    height: 400px;
    overflow: hidden;
}

.projectContent{
    position: relative;
    transition: 2s ease-in-out;
}

.projectContent:hover::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: #00000046;
}

.projectContent img{
    position:absolute;
    left: 0;
    top: 0%;
    transition: 3s ease-in-out;
}
.projectContent:hover img{
    top:-173%;
    /* top: ; */
}

.btn-preview {
    z-index: 1;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin: auto;
    overflow: hidden;
    display: none;   
}


.btn-preview::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: antiquewhite;
    left: 0;
    display: none;
    overflow: hidden;
    animation-name: movetoright;
    
    animation-duration: 3s;
    left: 0%;
    animation-fill-mode: forwards;
    top: 50%;
    transform: translateY(-50%);
    transition: .9s ease-in-out;
}

.projectContent:hover .btn-preview,.btn-preview:hover::after {
    display: block;
}

@keyframes movetoright{
    0%{
        left: 0;
    }
    100%{
        left:100%;
    }
}